services:
    push.pusher:
        class: RonteLtd\PushBundle\Pusher\Pusher
        calls:
            - [ setApns, ["@push.apns"]]
            - [ setGearmanServer, ["%push.gearman_server%"]]
            - [ setGearmanPort, ["%push.gearman_port%"]]

    push.apns:
        class: RonteLtd\PushBundle\Pusher\Apns
        arguments:
            - "%push.push_sound%"
            - "%push.push_expiry%"
        calls:
            - [ setLogger,["@push.apns_logger"]]

    push.apns_logger:
        class: RonteLtd\PushBundle\Logger\ApnsLogger
        arguments: ["%kernel.logs_dir%"]
        public: false

    push.queue_worker_command:
        class: RonteLtd\PushBundle\Command\PushQueueWorkerCommand
        arguments:
            - "%push.gearman_server%"
            - "%push.gearman_port%"
        calls:
            - [setPusher, ["@push.pusher"]]
        tags:
            - { name: console.command }
